<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a style="cursor: pointer" [routerLink]="[baseURL]"><span>{{titel}}</span></a>
    <span class="example-spacer"></span>
    <div>
      <button (click)="openModal()">Toon shopping lijst</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="myModal" class="modal" [hidden]="!modalVisible">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" id="list-img" [src]="modalImageSrc">
  <div id="caption">{{ modalCaption }}</div>
</div>

