<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a style="cursor: pointer" [routerLink]="[baseURL]"><span>{{titel}}</span></a>
    <span class="example-spacer"></span>
    <div>
      <button (click)="openModal()">Toon booschappenlijstje</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="myModal" class="modal" (click)="closeModal()" [hidden]="!modalVisible">
  <span class="close">&times;</span>
  <img class="modal-content" id="list-img" [src]="modalImageSrc">
  <div id="caption">{{ modalCaption }}</div>
</div>

