<div class="wrapper">
  <div class="welcome">
    <div>
      <div class="caption-banner">
        <span> Welkom in de UA online supermarkt!</span>
      </div>
      <div class="subtitle-banner">
        <span>Koopt u vooral alles wat u nodig hebt!</span>
      </div>
    </div>
    <div style="margin: 0 auto 0 auto">
      <button style="font-size: 1.5em; height: 70px; background-color: #3D9970; color: #fff" mat-flat-button (click)="routeToProducts()">Alle producte</button>
    </div>
  </div>
  <div class="categories">

  </div>
  <div class="featured">

  </div>
  <div class="info">

  </div>
</div>