<h3>Instellingen</h3>
<div style="margin: 1em 0 1em 0">
  <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
    <p>Welkom! Geef hier je persoonlijke ID code in, als je die hebt. Doe dit zeker als je de test al eerder startte, maar nog niet afwerkte!</p>
    <mat-form-field>
      <mat-label>Subject ID</mat-label>
      <input matInput type="text" formControlName="subjectID" required>
      <mat-error *ngIf="subjectForm.controls.subjectID.errors?.trial">Trial already started?</mat-error>
    </mat-form-field>
    <button [disabled]="btnDisabled" mat-raised-button>doorgaan</button>
  </form>
</div>
<mat-divider></mat-divider>
<div style="margin: 1em 0 1em 0">
  <p>Ik heb nog geen ID. Maak een nieuwe aan.</p>
  <button (click)="generateSubject()" mat-raised-button>Maak een nieuw ID aan.</button>
</div>