header {
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding-top: 50px;
  }

.h {
    width: 100%;
}

.c {
    max-width: 420px;
    margin: 0 auto;
  }
  

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: steelblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  

@media only screen and (max-width: 600px) {
    .c {
      max-width: 90%;
    }
  
    button {
      width: 100%;
    }
  }

button:hover {
    background-color: teal;
}

body{
    padding-top: 50px;
}