<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <h3>Welkom!</h3>
      <p>Welkom op de landingspagina van de virtuele supermarkt, kies een actie!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="admin" style="width: 100%;" mat-raised-button>Administratie</button>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="login" style="width: 100%;" mat-raised-button>Einloggen</button>
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/auth/register" style="width: 100%;" mat-raised-button>Registreren</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/t" style="width: 100%;" mat-raised-button>Treatment starten</button>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-6 cont-width">
      <button routerLink="/shop" style="width: 100%;" mat-raised-button>Voorbeeld winkel</button>
    </div>
  </div> -->
</div>
